body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

h1 {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.menu-button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #0056b3;
}

/* Стилизация элементов списка категорий */
.subcategory {
  list-style-type: none; /* Убираем маркеры списка */
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
}

.subcategory li {
  display: inline-block; /* Располагаем элементы в одной строке */
  margin-right: 10px; /* Добавляем небольшое расстояние между кнопками */
}

.subcategory li button {
  background-color: #007bff; /* Цвет фона кнопки */
  border: none; /* Убираем границу */
  color: #fff; /* Цвет текста */
  padding: 10px 20px; /* Отступы внутри кнопки */
  cursor: pointer; /* Указатель при наведении */
  border-radius: 5px; /* Скругляем углы */
  transition: background-color 0.3s; /* Плавное изменение цвета фона */
}

.subcategory li button:hover {
  background-color: #0056b3; /* Цвет фона при наведении */
}

/* Стилизация подкатегорий */
.subcategory-list {
  list-style-type: none; /* Убираем маркеры списка */
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
}

.subcategory-list li {
  margin-bottom: 10px; /* Добавляем небольшое расстояние между кнопками */
}

.subcategory-list li button {
  background-color: #007bff; /* Цвет фона кнопки */
  border: none; /* Убираем границу */
  color: #fff; /* Цвет текста */
  padding: 10px 20px; /* Отступы внутри кнопки */
  cursor: pointer; /* Указатель при наведении */
  border-radius: 5px; /* Скругляем углы */
  transition: background-color 0.3s; /* Плавное изменение цвета фона */
}

.subcategory-list li button:hover {
  background-color: #0056b3; /* Цвет фона при наведении */
}

/* Стилизация всех li элементов */
li {
  background-color: #007bff; /* Цвет фона */
  color: #fff; /* Цвет текста */
  padding: 10px 20px; /* Отступы внутри li элементов */
  margin-bottom: 10px; /* Отступ между элементами */
  border-radius: 5px; /* Скругление углов */
}

/* При наведении меняем цвет фона */
li:hover {
  background-color: #0056b3;
}



/* Стилизация таблицы */
.styled-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.styled-table th,
.styled-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.styled-table th {
  background-color: #007bff;
  color: #fff;
}

.styled-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.styled-table tr:hover {
  background-color: #ddd;
}

/* Стилизация формы */
form {
  margin-top: 20px;
}

form label,
form input,
form button {
  margin: 5px 0;
  display: block;
}

form button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}
