body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

.AddButton {
  background-color: #708fff;
  margin-top: 10px;
  border: none;
  color: #fff;
  padding: 6px 50px;
  margin: 9px 0px;
  cursor: pointer;
  border-radius: 5px;
}

.subcategoryAdd {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202836;
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: #fff;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-title {
  margin: 0;
}

.menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.menu-button {
  background-color: #708fff;
  border: none;
  color: #fff;
  padding: 10px 50px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

.menu-button:hover {
  background-color: #8aa3ff;
}

.logout-button {
  background: none;
  font-size: 15px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.logout-button:hover {
  color: #cc0000;
}

h1 {
  text-align: center;
  margin-top: 60px; /* Отступ сверху, чтобы заголовок не перекрывался меню */
}

/* Стилизация элементов списка категорий */
.subcategory {
  list-style-type: none;
  margin: 0px;
  padding: 5px;
  margin-bottom: 20px;
  width: 30%;
  cursor: pointer;
}

.category {
  margin-top: 100px;
}

.subcategory li {
  display: inline-block; /* Располагаем элементы в одной строке */
  margin-right: 10px; /* Добавляем небольшое расстояние между кнопками */
}

.subcategory li button {
  background-color: #202836; /* Цвет фона кнопки */
  border: none; /* Убираем границу */
  color: #fff; /* Цвет текста */
  padding: 10px 20px; /* Отступы внутри кнопки */
  cursor: pointer; /* Указатель при наведении */
  border-radius: 5px; /* Скругляем углы */
  transition: background-color 0.3s; /* Плавное изменение цвета фона */
}

.subcategory li button:hover {
  background-color: #708fff; /* Цвет фона при наведении */
}

/* Стилизация элементов списка категорий */
.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style-type: none; /* Убираем маркеры списка */
}

.categories-grid li {
  background-color: #202836; /* Цвет фона */
  color: #fff; /* Цвет текста */
  padding: 10px 45px; /* Отступы внутри li элементов */
  margin-bottom: 10px; /* Отступ между элементами */
  border-radius: 5px; /* Скругление углов */
  text-align: center;
  cursor: pointer; /* Указатель при наведении */
  transition: background-color 0.3s; /* Плавное изменение цвета фона */
}

.categories-grid li:hover {
  background-color: #708fff; /* Цвет фона при наведении */
}

/* Стилизация подкатегорий */
.subcategory-list {
  list-style-type: none; /* Убираем маркеры списка */
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
  width: 20%;
}

.subcategory-list li {
  margin-bottom: 10px; /* Добавляем небольшое расстояние между кнопками */
}

.subcategory-list li button {
  background-color: #202836; /* Цвет фона кнопки */
  border: none; /* Убираем границу */
  color: #fff; /* Цвет текста */
  padding: 10px 20px; /* Отступы внутри кнопки */
  cursor: pointer; /* Указатель при наведении */
  border-radius: 5px; /* Скругляем углы */
  transition: background-color 0.3s; /* Плавное изменение цвета фона */
}

.subcategory-list li button:hover {
  background-color: #708fff; /* Цвет фона при наведении */
}

/* Стилизация всех li элементов */
li {
  background-color: #202836; /* Цвет фона */
  color: #fff; /* Цвет текста */
  padding: 10px 20px; /* Отступы внутри li элементов */
  margin-bottom: 10px; /* Отступ между элементами */
  border-radius: 5px; /* Скругление углов */
}

/* При наведении меняем цвет фона */
li:hover {
  background-color: #708fff;
}

/* Стилизация таблицы */
.styled-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.styled-table th,
.styled-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.styled-table th {
  background-color: #202836;
  color: white;
}

.styled-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.styled-table tbody tr:hover {
  background-color: #ddd;
}

.styled-table tbody td {
  border: 1px solid #ddd;
}
